.login-page {
    max-width: 400px;
    margin: auto;

    .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: #ced4da;
    }

    &__email-input {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: 0;
    }

    &__password-input {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    &__error {
        color: red;
        margin-bottom: 12px;
    }

}
