<div class="main-form">

    <input type="email" class="form-control login-page__email-input my-input" placeholder="Login" required autofocus>
    <br>
    <input type="email" class="form-control login-page__email-input my-input" placeholder="Nowe hasło" required
        autofocus>
    <input type="email" class="form-control login-page__email-input my-input" placeholder="Powtórz hasło" required
        autofocus>
    <button type="submit" class="btn btn-lg btn-primary btn-block">
        Stwórz nowe hasło
    </button>
</div>
