<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <b>Pacjenci</b>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" routerLink="../add-patient">
                    Dodaj pacjenta</button>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn">
                    Umów wizytę</button>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" routerLink="../patients-list">
                    Aktywuj konto pacjenta</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <b>Lekarze</b>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" routerLink="../add-doctor">
                    Dodaj nowego lekarza</button>
                <!-- <button type="button" class="btn btn-primary btn-lg btn-block my-btn">
                    Umów wizytę</button> -->
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" routerLink="../doctors-list">
                    Lista lekarzy</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <b>Przychodnia</b>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn " routerLink="../add-room">
                    Dodaj nowy gabinet</button>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn"
                    routerLink="../add-examination-type">
                    Dodaj nowy rodzaj badania</button>
            </div>
        </div>
    </div>
</div>
