<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <b>Pacjenci</b>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" (click)="gotoAddPatient()">
                    Dodaj pacjenta</button>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" (click)="gotoAddAppointment()">
                    Umów wizytę</button>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" (click)="gotoActivateAccount()">
                    Aktywuj konto pacjenta</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <b>Lekarze</b>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" 
                    routerLink="../add-doctor">
                    Dodaj nowego lekarza</button>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" (click)="gotoAddAppointment()">
                    Umów wizytę</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <b>Przychodnia</b>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" (click)="gotoAddRoom()">
                    Dodaj nowy gabinet</button>
                <button type="button" class="btn btn-primary btn-lg btn-block my-btn" (click)="gotoAddExamType()">
                    Dodaj nowy rodzaj badania</button>
            </div>
        </div>
    </div>
</div>
