<div *ngIf="!loading" class="container-fluid ">
    <app-card [title]="'Lista lekarzy'">
        <app-card-body>

            <table class="table">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Specjalizacja</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let doctor of doctors">
                        <td>{{ doctor.firstName }}</td>
                        <td>{{ doctor.lastName }}</td>
                        <td>{{ doctor.specName }}</td>
                    </tr>
                </tbody>
            </table>

        </app-card-body>
    </app-card>
</div>


<div *ngIf="loading">
    Trwa ładowanie danych
</div>
