<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Nieaktywne konta
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>Login</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let acc of accounts">
                            <td>{{ acc.firstName }}</td>
                            <td>{{ acc.lastName }}</td>
                            <td>{{ acc.login }}</td>
                            <td>
                                <button class="btn btn-success" (click)="activateAccount()">Aktywuj</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
