<div class="container-fluid my-container">
    <div class="form-group">
        <h5>Dodawanie lekarza</h5>
        <br>
        <label for="firstName">Imię:</label>
        <input type="text" name="firstName" id="firstName" class="form-control">
        <label for="lastName">Nazwisko:</label>
        <input type="text" name="lastName" id="lastName" class="form-control">
        <label for="specialization">Specjalizacja:</label>
        <input type="text" name="specialization" id="specialization" class="form-control">
    </div>
    <button class="btn btn-success btn-block my-btn btn-lg" (click)="goToManagement()">Zarejestruj</button>

</div>
