<div class="container-fluid ">
    <app-card [title]="'Dodaj rodzaj badania'">
        <app-card-body>

            <app-input-field [name]="'name'" [title]="'Nazwa badania:'" [(value)]="examinationType.name">
            </app-input-field>
            <app-input-field [name]="'description'" [title]="'Opis:'" [(value)]="examinationType.description">
            </app-input-field>
            <app-input-field [name]="'duration'" [title]="'Czas trwania:'" [(value)]="examinationType.duration">
            </app-input-field>

        </app-card-body>
        <app-card-footer>
            <div class="row">
                <div class="col text-left">
                    <a class="btn btn-warning" routerLink="../index">Anuluj</a>
                </div>
                <div class="col text-right">
                    <a class="btn btn-success text-white" (click)="onSubmit()">Zapisz</a>
                </div>
            </div>
        </app-card-footer>
    </app-card>
</div>
