<div class="container-fluid ">

    <h4>Dodaj lekarza</h4>

    <app-identity-form [(value)]="doctorIdentity"></app-identity-form>

    <br><br>

    <app-card [title]="'Dodaj lekarza'">
        <app-card-body>
            <app-input-field [name]="'firstName'" [title]="'Imię:'" [(value)]="doctor.firstName">
            </app-input-field>
            <app-input-field [name]="'lastName'" [title]="'Nazwisko:'" [(value)]="doctor.lastName">
            </app-input-field>
            <app-input-field [name]="'specialization'" [title]="'Specjalizacja:'" [(value)]="doctor.specialization">
            </app-input-field>
        </app-card-body>
        <app-card-footer>
            <div class="row">
                <div class="col text-left">
                    <a class="btn btn-warning" routerLink="../index">Anuluj</a>
                </div>
                <div class="col text-right">
                    <a class="btn btn-success text-white" (click)="onSubmit()">Zapisz</a>
                </div>
            </div>
        </app-card-footer>
    </app-card>
</div>
