<mat-toolbar *ngIf="url !== 'identity'" color="primary">
    <mat-toolbar-row>

        <a href="/" style="color: white;">MCC</a>

        <ng-container [ngSwitch]="url">
            <app-management-navbar *ngSwitchCase="'management'"></app-management-navbar>
        </ng-container>

        <div class="navbar-separator"></div>

        <div class="navbar-right">
            <button class="navbar__logout-btn btn btn-link" (click)="logout()">Wyloguj</button>
        </div>

    </mat-toolbar-row>
</mat-toolbar>
