<div class="register-form">

    <h3>Rejestracja</h3>
    <!-- <h5>Rejestracja</h5> -->

    <div class="card register-form__form-component">
        <div class="card-header">
            Dane logowania
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="login">Email:</label>
                    <input type="email" name="login" id="login" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="login2">Powtórz email:</label>
                    <input type="email" name="login2" id="login2" class="form-control">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <label for="password">Hasło:</label>
                    <input type="text" name="password" id="password" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="passwordRepeat">Powtórz hasło:</label>
                    <input type="text" name="passwordRepeat" id="passwordRepeat" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="card register-form__form-component">
        <div class="card-header">
            Dane osobowe
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-7 register-form__personal-data">
                    <div class="row register-form__input-row">
                        <div class="col">
                            <label for="firstName">Imię:</label>
                            <input type="text" name="firstName" id="firstName" class="form-control">
                        </div>
                        <div class="col">
                            <label for="lastName">Nazwisko:</label>
                            <input type="text" name="lastName" id="lastName" class="form-control">
                        </div>
                    </div>
                    <div class="row register-form__input-row">
                        <div class="col-9">
                            <label for="pesel">PESEL:</label>
                            <input type="text" name="pesel" id="pesel" class="form-control">
                        </div>
                        <div class="col-3">
                            <label for="gender">Płeć:</label>
                            <fieldset name="gender" id="gender" class="form-check">
                                <div class="row ">
                                    <div class="col">
                                        <input type="radio" value="M" name="gender" id="male" class="form-check-input">
                                        <label for="male"> Mężczyzna</label>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col">
                                        <input type="radio" value="F" name="gender" id="female" class="form-check-input">
                                        <label for="female" class="form-check-label"> Kobieta</label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-5">
                    <div class="row register-form__input-row">
                        <div class="col">
                            <label for="street">Ulica:</label>
                            <input type="text" name="street" id="street" class="form-control">
                        </div>
                        <div class="col">
                            <label for="house">Nr domu/nr mieszkania:</label>
                            <input type="text" name="house" id="house" class="form-control">
                        </div>
                    </div>
                    <div class="row register-form__input-row">
                        <div class="col">
                            <label for="zipcode">Kod pocztowy:</label>
                            <input type="text" name="zipcode" id="zipcode" class="form-control">
                        </div>
                        <div class="col">
                            <label for="city">Miasto:</label>
                            <input type="text" name="city" id="city" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-success btn-block btn-lg" (click)="addPatient()">Zarejestruj</button>
        </div>
    </div>
</div>