<div class="register-form">

    <h3>Rejestracja</h3>
    <!-- <h5>Rejestracja</h5> -->

    <div class="card register-form__form-component">
        <div class="card-header">
            Dane logowania
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="login">Email:</label>
                    <input type="email" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="login">Powtórz email:</label>
                    <input type="email" class="form-control">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <label for="password">Hasło:</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="passwordRepeat">Powtórz hasło:</label>
                    <input type="text" name="passwordRepeat" id="passwordRepeat" class="form-control">
                </div>
            </div>
        </div>
    </div>

    <div class="card register-form__form-component">
        <div class="card-header">
            Dane osobowe
        </div>
        <div class="card-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptatum, suscipit blanditiis animi doloremque iste, beatae aut a repellendus earum qui, at odit! Incidunt consequuntur aliquam facilis unde ratione? Dolore!
            Pariatur reiciendis at quod repellat voluptas! Rerum recusandae pariatur hic sapiente impedit libero repudiandae, similique quia officia dicta ipsa sed, sint aut nihil illo perspiciatis. Explicabo nihil dolores soluta nisi.
            A, adipisci reiciendis odio esse, fugiat, suscipit consectetur impedit corrupti atque excepturi accusantium ducimus. Commodi, maxime obcaecati. Voluptate sunt porro aspernatur maxime, dolore pariatur reiciendis tempora corrupti labore ea iure.
            Expedita quibusdam perspiciatis libero tenetur maiores tempora officiis, maxime recusandae illo ipsam suscipit natus consequatur sunt fugit amet corrupti at itaque. Quas perspiciatis magnam inventore eligendi illum excepturi neque dolore.
        </div>
    </div>
    <!-- <div class="main-form">
        
        <div class="form-group">

            <h5></h5>

            <div class="row my-row">
                <div class="col my-col">
                    <label for="firstName">Imię:</label>
                    <input type="text" name="firstName" id="firstName" class="form-control is-invalid">
                    <div class="invalid-feedback">Niepoprawne imię!</div>
                </div>
                <div class="col my-col">
                    <label for="lastName">Nazwisko:</label>
                    <input type="text" name="lastName" id="lastName" class="form-control">
                </div>
            </div>
            <div class="row my-row align-items-end">
                <div class="col my-col">
                    <label for="pesel">PESEL:</label>
                    <input type="text" name="pesel" id="pesel" class="form-control">
                </div>
                <div class="col my-col">
                    <fieldset id="gender" class="form-check">
                        <div class="row ">
                            <div class="col ">
                                <input type="radio" value="M" name="gender" id="male" class="form-check-input">
                                <label for="male"> Mężczyzna</label>
                            </div>
                            <div class="col ">
                                <input type="radio" value="F" name="gender" id="female" class="form-check-input">
                                <label for="female" class="form-check-label"> Kobieta</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>

        <br>

        <div class="form-group">

            <h5>Dane adresowe</h5>

            <div class="row my-row">
                <div class="col my-col">
                    <label for="street">Ulica:</label>
                    <input type="text" name="street" id="street" class="form-control">
                </div>
                <div class="col my-col">
                    <label for="house">Nr domu/nr mieszkania:</label>
                    <input type="text" name="house" id="house" class="form-control">
                </div>
            </div>

            <div class="row my-row">
                <div class="col my-col">
                    <label for="zipcode">Kod pocztowy:</label>
                    <input type="text" name="zipcode" id="zipcode" class="form-control">
                </div>
                <div class="col my-col">
                    <label for="city">Miasto:</label>
                    <input type="text" name="city" id="city" class="form-control">
                </div>
            </div>

        </div>
        <br>
        <button class="btn btn-success btn-block btn-lg" (click)="addPatient()">Zarejestruj</button>
    </div> -->
</div>