<mat-menu #doctorsMenu="matMenu">
    <button mat-menu-item routerLink="/management/doctors-list">Lista</button>
    <button mat-menu-item routerLink="/management/add-doctor">Dodaj</button>
</mat-menu>

<button class="navbar-button" mat-button [matMenuTriggerFor]="doctorsMenu">
    Lekarze
</button>

<mat-menu #patientsMenu="matMenu">
    <button mat-menu-item routerLink="/management/patients-list">Lista</button>
    <button mat-menu-item routerLink="/management/add-patient">Dodaj</button>
</mat-menu>

<button class="navbar-button" mat-button [matMenuTriggerFor]="patientsMenu">
    Pacjenci
</button>

<mat-menu #managementMenu="matMenu">
    <button mat-menu-item routerLink="/management/add-appointment">Dodaj terminy</button>
    <button mat-menu-item routerLink="/management/add-management">Dodaj konto</button>
</mat-menu>

<button class="navbar-button" mat-button [matMenuTriggerFor]="managementMenu">
    Zarządzanie
</button>
