<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                Wizyty
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Godzina</th>
                            <th>Examination type</th>
                            <th>Lekarz</th>
                            <th>Gabinet</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let app of appointments">
                            <td>{{ app.date }}</td>
                            <td>{{ app.time }}</td>
                            <td>{{ app.examType }}</td>
                            <td>{{ app.doctor }}</td>
                            <td>{{ app.room }}</td>
                            <td>
                                <button class="btn btn-danger" (click)="cancelAppointment()">Odwołaj</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
